@import "../index.scss";

.carouselWrapper {
  width: 100%;
  overflow: hidden;
}

.carouselContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  
  @media (max-width: 768px) {
    gap: 1.5rem;
  }
}

.card {
  position: relative;
  width: 25rem;
  height: 38rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  
  @media (max-width: 1024px) {
    width: 22rem;
    height: 35rem;
  }
  @media (max-width: 768px) {
    width: 40rem;
    height: 20rem;
  }
  @media (max-width: 425px) {
    width: 90%;
    height: 500px;
  }
  
  &:hover {
    transform: translateY(-5px);
  }
  
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgba(216, 216, 216, 0.556);
    transition: transform 0.5s ease-in-out;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__titles {
    text-align: center;
    width: 100%;
    transform: translateY(30%);
    transition: transform 0.4s ease-in-out;

    & h3 {
      color: white;
      margin-bottom: 1.5rem;
      font-size: 2.9rem;
      
      @media (max-width: 768px) {
        font-size: 2.2rem;
      }
      @media (max-width: 425px) {
        font-size: 1.8rem;
      }
    }

    & p {
      color: rgb(214, 213, 213);
      font-size: 0.9rem;
      font-weight: 200;
    }
  }

  &:hover, &:focus-within {
    .card__overlay {
      opacity: 1;
      pointer-events: auto;
    }

    .card__titles {
      transform: translateY(0);
    }

    img {
      transform: scale(1.05);
    }
  }
}