@import '../index.scss';

.footer {
    // position: relative;
    // top: 10vh;
    height: 30vh;
    background-color: $black;
    &__list{
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

    }
    &__list a {
        text-transform: uppercase;
        color: $grey;
        font-size: 15px;
        transition: color 0.3s ease; // Smooth color transition
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }
    &__list a:hover {
        color: $white;
    }
}

.fadingLine {
    width: 100%; 
    height: 1px; 
    margin: 20px auto; /* Centrage horizontal et espacement vertical */
    background: linear-gradient(
      to right,
      transparent,
      transparent 5%,
      #31364b 30%,
      #31364b 70%,
      transparent 95%,
      transparent
    );
  }

  .footerBottom {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    @media (max-width: 600px)  {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    }
    &__date {
        color: $grey;
        width: 43%;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        padding-left: 5rem;
        text-transform: uppercase;
        font-size: 13px;
        @media (max-width: 600px)  {
          width: 80%;
          padding: 0;
          text-align: center;
          font-size: 10px;
        }
      }
    &__socialIcons {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
    
    &__icon {
        color: $grey;
        font-size: 2rem;
        transition: color 0.3s ease; // Smooth color transition
      }
    
    &__icon:hover {
        color: $white;
      }
    
    &__emptyLayout {
        width: 50%;
    }


  }
  